@import url(https://fonts.googleapis.com/css?family=Roboto:100&display=swap);

.App {
  font-family: Roboto, sans-serif;
  line-height: 1.5em;
}

.App-header {
  h1, p {
    padding: 0 1em;
    margin-bottom: 1em;
  }

  a {
    color: #333333;
  }
}

.App-image {
  background-image: url("./img/render.jpg");
  background-position: center;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .App {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	align-items: stretch;
  	align-content: stretch;
  }

  .App-header {
    max-width: 30vw;
  }

  .App-image {
    height: 100vh;
    width: 70vw;
  }
}
